.lp-smart-field-1 {
    background-color: #f1f1f3;
    padding: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: #29303b;
    width: 100%;
}

.lp-smart-field-1 .lp-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.lp-smart-field-1 .lp-form-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.lp-smart-field-1 .lp-form-inner-wrapper .lp-form-inner-group {
    width: calc(50% - 10px);
}

.lp-smart-field-1 input[type="text"] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.lp-smart-field-1 .lp-form-button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #5cabc5;
    text-decoration: none;
    transition: all 0.15s ease;
    cursor: pointer;
}

/* CSS to toggle errors for the input  */
.lp-smart-field-1 .lp-has-error {
    border: 1px solid rgba(255, 0, 0, 0.4) !important;
}

.lp-smart-field-1 .lp-error-message {
    color: rgba(255, 0, 0, 0.6) !important;
    font-size: 12px;
}
